<v-menu
        transition="slide-y-transition"
        top
>
    <template v-slot:activator="{ on }">
        <section class="h-room" v-on="on">
            <div :class="busy">{{room.number}}</div>
        </section>
    </template>
    <v-list>
        <v-list-tile>
            <v-list-tile-title>Room number: {{room.number}}</v-list-tile-title>
        </v-list-tile>
        <v-list-tile>
            <v-list-tile-title>Room floor: {{room.floor}}</v-list-tile-title>
        </v-list-tile>
        <v-list-tile>
            <v-list-tile-title>Number of places: {{room.numberOfPlaces}}</v-list-tile-title>
        </v-list-tile>
        <v-list-tile v-if="status">
            <v-list-tile-title>Status: {{status}}</v-list-tile-title>
        </v-list-tile>
        <template v-if="room.users && dates">
            <v-list-tile>
                <v-list-tile-title>Start date: {{formatDate(dates.startDate)}}</v-list-tile-title>
            </v-list-tile>
            <v-list-tile>
                <v-list-tile-title>Due date: {{formatDate(dates.endDate)}}</v-list-tile-title>
            </v-list-tile>
        </template>
        <v-list-tile>
            <v-list-tile-action>
                <v-btn @click="deleteRoom">Delete</v-btn>
            </v-list-tile-action>
        </v-list-tile>
    </v-list>
</v-menu>
