<section class="h-reservations">
    <v-card v-for="ticket in rents" :key="ticket.id" class="h-ticket">
        <v-carousel hide-delimiters class="h-hotel-images" v-if="ticket.room.hotel.images.length" key="images-carousel">
            <v-carousel-item
                    v-for="image in ticket.room.hotel.images"
                    :key="image.id"
                    :src="image.url"
            ></v-carousel-item>
        </v-carousel>
        <div class="h-card-image" v-else key="hotel-no-images">
            <v-icon>{{icons.question}}</v-icon>
        </div>
        <v-card-title>
            <div class="h-card-title">
                <span class="grey--text">{{ticket.room.hotel.name}}</span><br>
                <span>{{ticket.room.hotel.city}}</span><br>
                <span>{{ticket.room.hotel.address}}</span>
                <v-rating :value="ticket.room.hotel.rating" readonly></v-rating>
            </div>
        </v-card-title>
    </v-card>
</section>
