<main id="app" class="h-app" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-app id="inspire">
        <v-toolbar
                :color="$vuetify.theme.primary"
                fixed
                app
                clipped-right
        >
            <v-toolbar-side-icon dark @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title class="h-header-title">{{currentRouteName}}</v-toolbar-title>
            <v-spacer></v-spacer>
            <h-avatar size="40" quality="hd"></h-avatar>
        </v-toolbar>
        <v-navigation-drawer
                v-model="drawer"
                fixed
                app
        >
            <v-img :src="logo" aspect-ratio="1"></v-img>
            <v-list>
                <h-drawer-link
                        path="/home"
                        :icon="icons.home"
                        name="Home"
                ></h-drawer-link>
                <template v-if="!isAuthorized">
                    <h-drawer-link
                            path="/sign-in"
                            :icon="icons.signIn"
                            name="Sign in"
                    ></h-drawer-link>
                    <h-drawer-link
                            path="/sign-up"
                            :icon="icons.signUp"
                            name="Sign up"
                    ></h-drawer-link>
                </template>
                <template v-else>
                    <v-expansion-panel class="h-expand">
                        <v-expansion-panel-content>
                            <template v-slot:header>
                                <v-list-tile>
                                    <v-list-tile-action>
                                        <v-icon>{{icons.user}}</v-icon>
                                    </v-list-tile-action>
                                    <v-list-tile-content>
                                        <v-list-tile-title class="h-drawer-title">User</v-list-tile-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                            </template>
                            <div class="h-expand-content">
                                <h-drawer-link
                                        path="/profile"
                                        :icon="icons.profile"
                                        name="Profile"
                                ></h-drawer-link>
                                <h-drawer-link
                                        path="/reset-username"
                                        :icon="icons.accountEdit"
                                        name="Change username"
                                ></h-drawer-link>
                                <h-drawer-link
                                        path="/reset-avatar"
                                        :icon="icons.image"
                                        name="Change avatar"
                                ></h-drawer-link>
                                <h-drawer-link
                                        path="/reset-password"
                                        :icon="icons.changePassword"
                                        name="Change password"
                                ></h-drawer-link>
                            </div>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                    <h-drawer-link
                            path="/hotels"
                            :icon="icons.hotel"
                            name="Hotels"
                    ></h-drawer-link>
                    <h-drawer-link
                            path="/rents"
                            :icon="icons.ticket"
                            name="Your reservations"
                    ></h-drawer-link>
                    <h-drawer-link
                            path="/log-out"
                            :icon="icons.logOut"
                            name="Log out"
                    ></h-drawer-link>
                </template>
            </v-list>
        </v-navigation-drawer>
        <v-content>
            <v-container fluid fill-height>
                <v-layout justify-center align-center>
                    <v-flex shrink>
                        <router-view></router-view>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
        <h-footer></h-footer>
    </v-app>
    <h-snackbar></h-snackbar>
    <h-spinner v-if="isSpinnerActive" key="spinnerActive"></h-spinner>
</main>
