<main id="app" class="h-app" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-app id="inspire">
        <v-toolbar
                :color="$vuetify.theme.primary"
                fixed
                app
                clipped-right
        >
            <v-toolbar-side-icon dark @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title class="h-header-title">{{currentRouteName}}</v-toolbar-title>
            <v-spacer></v-spacer>
            <h-avatar size="40" quality="hd"></h-avatar>
        </v-toolbar>
        <v-navigation-drawer
                v-model="drawer"
                fixed
                app
        >
            <v-img :src="logo" aspect-ratio="1"></v-img>
            <v-list>
                <router-link to="/home">
                    <v-list-tile>
                        <v-list-tile-action>
                            <v-icon>{{icons.home}}</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title class="h-drawer-title">Home</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </router-link>
                <template v-if="!isAuthorized">
                    <router-link to="/sign-in">
                        <v-list-tile>
                            <v-list-tile-action>
                                <v-icon>{{icons.signIn}}</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title class="h-drawer-title">Sign in</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </router-link>
                    <router-link to="/sign-up">
                        <v-list-tile>
                            <v-list-tile-action>
                                <v-icon>{{icons.signUp}}</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title class="h-drawer-title">Sign up</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </router-link>
                </template>
                <template v-else>
                    <v-expansion-panel class="h-expand">
                        <v-expansion-panel-content>
                            <template v-slot:header>
                                <v-list-tile>
                                    <v-list-tile-action>
                                        <v-icon>{{icons.user}}</v-icon>
                                    </v-list-tile-action>
                                    <v-list-tile-content>
                                        <v-list-tile-title class="h-drawer-title">User</v-list-tile-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                            </template>
                            <div class="h-expand-content">
                                <router-link to="/profile">
                                    <v-list-tile>
                                        <v-list-tile-action>
                                            <v-icon>{{icons.profile}}</v-icon>
                                        </v-list-tile-action>
                                        <v-list-tile-content>
                                            <v-list-tile-title class="h-drawer-title">Profile</v-list-tile-title>
                                        </v-list-tile-content>
                                    </v-list-tile>
                                </router-link>
                                <router-link to="/reset-username">
                                    <v-list-tile>
                                        <v-list-tile-action>
                                            <v-icon>{{icons.account_edit}}</v-icon>
                                        </v-list-tile-action>
                                        <v-list-tile-content>
                                            <v-list-tile-title class="h-drawer-title">Change username</v-list-tile-title>
                                        </v-list-tile-content>
                                    </v-list-tile>
                                </router-link>
                                <router-link to="/reset-avatar">
                                    <v-list-tile>
                                        <v-list-tile-action>
                                            <v-icon>{{icons.image}}</v-icon>
                                        </v-list-tile-action>
                                        <v-list-tile-content>
                                            <v-list-tile-title class="h-drawer-title">Change avatar</v-list-tile-title>
                                        </v-list-tile-content>
                                    </v-list-tile>
                                </router-link>
                                <router-link to="/reset-password">
                                    <v-list-tile>
                                        <v-list-tile-action>
                                            <v-icon>{{icons.changePassword}}</v-icon>
                                        </v-list-tile-action>
                                        <v-list-tile-content>
                                            <v-list-tile-title class="h-drawer-title">Change password</v-list-tile-title>
                                        </v-list-tile-content>
                                    </v-list-tile>
                                </router-link>
                            </div>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                    <router-link to="/log-out">
                        <v-list-tile>
                            <v-list-tile-action>
                                <v-icon>{{icons.logOut}}</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title class="h-drawer-title">Log out</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </router-link>
                </template>
            </v-list>
        </v-navigation-drawer>
        <v-content>
            <v-container fluid fill-height>
                <v-layout justify-center align-center>
                    <v-flex shrink>
                        <router-view></router-view>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
        <v-footer :color="$vuetify.theme.primary" class="h-header-title" app>
            <span>Vitali Diachuk</span>
            <v-spacer></v-spacer>
            <span>&copy; 2019</span>
        </v-footer>
    </v-app>
    <v-snackbar
            v-model="isBarActive"
            :color="color"
            :timeout="timeout"
    >
        {{msg}}
        <v-btn
                dark
                flat
                @click="$store.dispatch('snackbar/close')"
        >
            Close
        </v-btn>
    </v-snackbar>
    <h-spinner v-if="isSpinnerActive" key="spinnerActive"></h-spinner>
</main>
