.h-spinner {
  align-items: center;
  background: #c9c9c9;
  display: flex;
  justify-content: center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  width: 100vw;
  z-index: 4;
}
