@import "../../../css/colors";

.h-profile {
  .h-profile-header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }

  div {
    .h-profile-item {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 300px;

      h3 {
        font-weight: 400;
      }
    }
  }
}
