@import "../../../css/colors";

.h-auth-form {
  .h-auth-title {
    color: $primary;
    font-size: 36px;
    margin-bottom: 20px;
  }

  .h-3rd-auth {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

    .h-redirect-auth {
      i {
        color: $primary;
        font-size: 28px;
      }
    }
  }

  .h-forgot-password-link {
    display: flex;
    justify-content: center;
    margin: 10px auto;

    a {
      color: #000;
      font-size: 18px;
      font-weight: 600;
    }
  }
}
